version: '3.8'
services:
  bidpilot-clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: bidpilot-clickhouse
    ports:
      - "9000:9000"
      - "8123:8123"
    environment:
      - CLICKHOUSE_USER=default
      - CLICKHOUSE_PASSWORD=123
    ulimits:
      nofile:
        soft: 262144
        hard: 262144

  bidpilot-postgres:
    image: postgres:15
    container_name: bidpilot-postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: bidpilot
    ports:
      - "5432:5432"
